[Desktop Entry]
Encoding=UTF-8
Name=Astercoin
Comment=Astercoin P2P Cryptocurrency
Comment[fr]=Astercoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Astercoin, eşten eşe kriptografik sanal para birimi
Exec=astercoin-qt %u
Terminal=false
Type=Application
Icon=astercoin128
MimeType=x-scheme-handler/astercoin;
Categories=Office;Finance;
